/* ==========================================
   BODY
========================================== */

body{

    background:
        radial-gradient(
            circle at top right,
            rgba(38,90,160,.25),
            transparent 35%
        ),

        radial-gradient(
            circle at bottom left,
            rgba(18,40,90,.20),
            transparent 40%
        ),

        var(--color-background);

    color: var(--color-text);

    font-family: var(--font-body);

    overflow-x: hidden;

}

/* ==========================================
   MAIN
========================================== */

main{
    margin-left: var(--sidebar-collapsed);
    min-height:100vh;
    transition:margin-left var(--transition-normal);
}

.sidebar:hover + main{
    margin-left: var(--sidebar-width);
}

.section{
    padding:
        var(--space-3xl)
        0;
}