.hero{

    min-height:100vh;

}

.chapter{

    min-height:100vh;

}

.repository{

    min-height:100vh;

}

.toolbox{

    min-height:100vh;

}

.gallery{

    min-height:100vh;

}

.team{

    min-height:100vh;

}